.col {
  width: 30%;
  background-color: #e3ccae;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.card {
}
.cardDetails {
  padding: 10px 20px;
}

.locationDetail {
  font-size: 1rem;
  color: #949494;
  margin-bottom: 11rem;
}
.nameDetail {
  font-size: 1.1rem;
  font-weight: 200;
  padding-block: 5px 10px;
}
.priceDetail {
  font-size: 1.3rem;
  font-weight: 200;
}
.carTypeDetail {
  display: inline-block;
  padding-block: 10px;
  padding-inline: 7px;
  font-size: 0.8rem;
}
.cardImg {
  display: block;
  max-width: 100%;
}
